@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    @apply bg-field-bg text-slate-200 antialiased;
    min-width: 320px;
    min-height: 100vh;
  }

  button,
  input,
  label {
    -webkit-tap-highlight-color: transparent;
  }
}
